div.navInnerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.navItemWrapper {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    margin: 5px 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Mono";
}

.navActive {
    border-radius: 50%;
    box-shadow: 0px 4px 0 -2.75px white;
}

@media (min-width: 1080px) {
    div.navInnerWrapper {
        flex-direction: column;
        height: 100%;
    }

    .navActive {
        box-shadow: 8px 0px 0 -2.75px white;
    }
}