body {
    --col-background: lightgrey;
    --col-text-button: rgb(63, 63, 63);

    background-color: var(--col-background);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

h1 {
    font-family: "Graduate";
    font-weight: 300;
    font-size: 2.7em;
}

h2,
h5 {
    font-family: "IBM Plex Mono";
    font-weight: 300;
}

h3 {
    font-weight: 200;
}

h4 {
    font-family: "Graduate";
    font-size: 1.3em;
    margin: 0 10px;
}

h5 {
    font-size: 1.2em;
    margin: 5px 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    height: 40px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;

    font-family: "IBM Plex Mono";
    font-size: 1.2em;
    color: var(--col-text-button);
}

button:hover {
    opacity: 0.8;
}

/* THE BELOW CODE FOLLOWS MOBILE-FIRST DESIGN */
/* DESKTOP LAYOUT CSS IS IN A SEPARATE FILE */


div.body-wrapper {
    width: 100vw;
    display: grid;
    grid-template-areas:
        "nav"
        "title"
        "constellation"
        "content"
        "footer"
        "language"
        "carousel"
    ;
    overflow-x: hidden;
}

.star-sky-wrapper {
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 1);
    color: white;
    text-align: center;
    height: calc(100%);
}

div.body-wrapper>* {
    /* background-color: black; */
}

div.title-wrapper,
div.content-wrapper {
    margin: 10px;
}

header.nav-wrapper {
    grid-area: nav;
    height: 100px;
}

div.title-wrapper {
    grid-area: title;
}

div.constellation-wrapper {
    grid-area: constellation;
    height: 500px;
}

div.content-wrapper {
    grid-area: content;
    padding: 20px 0 0 0;
}

footer.footer-wrapper {
    grid-area: footer;
    height: 100px;
}

div.language-wrapper {
    grid-area: language;
    height: 300px;
}

div.carousel-wrapper {
    grid-area: carousel;
    height: 500px;
}